.project-card{
    width: 350px;
    height: 400px;
    background-color: #ffffff;    
    padding: 10px;
    box-shadow: 1px 1px 5px #000000;

}
.project-image{
    object-fit: cover;
    width: 100%;
    height: 300px;
}

.project-btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.project-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    padding: 1rem;
    cursor: pointer;
}
.live-btn{
    background-color: #000000;
    color: #ffffff;
    height: 52px;
}
.code-btn{
    background-color: #ffffff;
    color: #000000;
    border: 2px solid black;
    height: 50px;
}