#project{
    width:100%;
    padding-top: 100px;
    font-family: 'Roboto', sans-serif;
}
.project-text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:3rem;
    margin-bottom: 1rem;
}
.project-container{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto;
    gap: 2rem 10rem;
} 