#about{
    height: 100vh;
    width: 100%;
    padding-top: 15vh;
    font-family: 'Roboto', sans-serif;
}

.about-container{
    display: flex;
    align-items: center;

}

.about-container-1{
    height: 60vh;
    width: 50%;
    
}

.about-container-2{
    height: 45vh;
    display: flex;
    align-items: center;
    background-color:#13131A;
    clip-path: polygon(30px 0%, 100% 0%, 100% 100%, 30px 100%, 0 50%);
    color: #F0F0F5;
    padding: .5rem .5rem .2rem .8rem;
    
}

.about-text{
    margin-left: 2rem;
    margin-bottom: 2rem;
    display: inline-block;
    font-weight: 700;
    font-size: 3rem;
    border-bottom: 2px solid black;
}

.profile{
    background-color: #F0F0F5;
    max-height: 200px;
    max-width: 200px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}

.my-photo{
    max-width: 200px;
}
