.about-card{
    width: 300px;
    height: 350px;
    background-color: #FFFFFF;
    color: #222222;
    text-align: justify;
    padding: .7rem;
    margin: 0 1rem 0 1rem;
    box-shadow: 1px 1px 1px #cecece;
}

.about-icon{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.about-title{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 3rem;
}

.about-info{
    font-size: 1rem;
    line-height: 2rem;
}