#about{
    height: 100vh;
    width: 100%;
    padding-top: 15vh;
    font-family: 'Roboto', sans-serif;
}

.about-container{
    display: flex;
    align-items: center;

}

.about-container-1{
    height: 80vh;
    width: 50%;
    
}

.about-container-2{
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#13131A;
    clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 15% 100%);
    color: #F0F0F5;
    padding: .5rem .5rem .2rem .8rem;
    z-index: 0;
    
}


.about-text{
    margin-left: 2rem;
    margin-bottom: 8.3rem;
    display: inline-block;
    font-weight: 700;
    font-size: 3rem;
    border-bottom: 2px solid black;
}

.profile{
    background-color: #F0F0F5;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 1rem solid #13131A;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 10;


}

.my-photo{
    max-width: 150px;
    
}

.about-info{
    max-width: 90%;
    padding-left: 30%;
    text-align: justify;
}

.about-work{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    height: 70vh;
    width: 10%;
    align-items: center;
}

.work-icon1{
    font-size: 3rem;
    color: #13131A;
}
.about-work1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.line{
    height: 20vh;
    width: 2px;
    background-color: #13131A;

}
