#tree{
    animation: branch1 4s infinite alternate;
    transform-origin: bottom;
}

@keyframes branch1 {
    0%{
        transform: rotate(0deg);
    }
    
    50%{
        transform: rotate(1deg);
    }
    
    100%{
        transform: rotate(3deg);

    }


    
}

#Vector_1{
    animation: branch2 4s infinite alternate;
    transform-origin: bottom;
}

@keyframes branch2 {
    0%{
        transform: rotate(0deg);
    }
    
    50%{
        transform: rotate(-10deg);
    }
    
    100%{
        transform: rotate(0deg);

    }


    
}

#tree-svg{
    width: 50%;
}