@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
.hero{
    max-width: 35%;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 30%;
    left: 17%;
}

.greet{
    margin-bottom: 5rem;
    font-size: 3rem;
}

.thin{
    font-weight: 100;
}

.intro{
    font-weight: 700;
    font-size: 3rem;
}

.intro3{
    font-weight: 400;
    margin-top: 2rem;
    font-size: .9rem;
}

.btns{
    margin-top: 3rem;
    display: flex;
}

.btn{
    padding: 1rem;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.download-btn{
    background-color: #222222;
    color: #FFFFFF;
    margin-right: .8rem;
}

.contact-btn{
    border: 2px solid #222222;
}

.explore{
    margin-top: 3rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arrow{
    font-size: 20vh;
}