.ham{
    position: absolute;
    top: 10vh;
    left: 0;
    height: 250px;
    background-color: #FFFFFF;
    width: 100%;
    
}

.nav-icon-ham{
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.github a{
    text-decoration: none;
}

.github-icon{
    font-size: 50px;
    color: black;
}

@media screen and (max-width:1000px){
    .ham{
         display: inline;
    }
}