.skill-line{
    background-color: #222222;
    width: 2px;
    height: 70vh;
    position: absolute;
    top: 65%;
    right: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.point{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #222222;
    position: relative;
    
}

.skill-right{
    position: relative;
    left: 40px;
    width: 400px;
    font-size: 1.5rem;
}

.skill-left{
    position: relative;
    left: -260px;
    width: 400px;
    font-size: 1.5rem;
    
}
.edu-text-r{
    position: relative;
    left: 40px;
    width: 400px;
    font-size: 1rem;
    text-align: justify;
}
.edu-text-l{
    position: relative;
    left: -400px;
    width: 400px;
    text-align: justify;
    font-size: 1rem;
}

@media screen and (max-width: 1000px){
    .edu-text-r{
        position: relative;
        left: 40px;
        width: 150px;
        font-size: 1rem;
        text-align: justify;
    }
    .edu-text-l{
        position: relative;
        left: -170px;
        width: 150px;
        text-align: justify;
        font-size: 1rem;
    }
    .skill-left{
    position: relative;
    left: -180px;
    width: 150px;
    font-size: 1.2rem;
    
}
}